.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  
.titlebar-button {
    -webkit-app-region: no-drag;
}
*
{
    user-select: none;
}
#content
{
    margin:20px;
}
#cont
{
position:fixed;
height:calc(100% - 168px);
width:100%;
border:none;
}
#run
{position: fixed;
bottom:10px;
left:10px;
width:calc(100% - 20px);
bottom:10px;
}
body
{
    border-radius: 5px!important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#themebtn
{
  position: absolute;
border-right: 1px solid;
border-left: 1px solid;
min-width:60px;
text-align: center;
top:17px;
left:210px;
padding-right:10px;
padding-left:10px;
}
#update
{
  position: absolute;
border-right: 1px solid;
top:17px;
left:270px;
padding-right:10px;
padding-left:10px;
}
#discord
{
  position: absolute;
  top:17px;
  right:10px;
padding-right:10px;
padding-left:10px;

}
.inactive .window-icon
{
  background-color: #7f7f7f!important;
}
.dark .window-icon
{
  background-color: #ffffff!important;
}